<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555708727615-jh2f9duoqu13ru65grka7r73a0sv0mli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555708727615-jh2f9duoqu13ru65grka7r73a0sv0mli</string>
	<key>API_KEY</key>
	<string>AIzaSyAMz0bUwIq-7Cqxe_RKzjTwbgomUYjXHyI</string>
	<key>GCM_SENDER_ID</key>
	<string>555708727615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.popular.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tesapp-2aceb</string>
	<key>STORAGE_BUCKET</key>
	<string>tesapp-2aceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555708727615:ios:f315b22e45cfb6da84538a</string>
</dict>
</plist>